@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*text colors*/
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /*background colors*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /*text*/
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /*dividers*/
  --light-grayish-blue: hsl(240, 5%, 91%);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 10rem 1rem;
  background-image: linear-gradient(
    hsl(273, 75%, 66%) 10%,
    hsl(240, 73%, 65%) 90%
  );
  font-family: "Kumbh Sans", sans-serif;
}
.card-container {
  max-width: 56rem;
  background-color: var(--light-grayish-blue);
  border-radius: 25px;
  margin: 0 auto;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 20rem;
}

.box {
  /*display: none;*/
  position: absolute;
  z-index: 1;
  top: 80px;
}
.main-img {
  position: relative;
}
.main-img .woman-img {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  max-width: 25rem;
  margin: auto;
  display: block;
}
.questions {
  padding-top: 13rem;
}

/*JS for accordian*/
.question-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question {
  border-bottom: 1px solid var(--dark-grayish-blue);
}
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.question-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.rotate {
  transform: rotate(180deg);
}

@media (min-width: 56rem) {
  body {
    padding: 5rem;
  }
  .card-container {
    position: relative;
    display: flex;
    margin: 100px auto;
    padding-right: 2rem;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: -210% 70%;
    height: 500px;
  }
  .box {
    display: block;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  .main-img,
  .questions {
    flex: 1;
  }
  .main-img {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .main-img .woman-img {
    position: relative;
    top: auto;
    left: auto;
    transform: translateX(-80px);
    max-width: 25rem;
  }
  .questions {
    padding-top: 0;
  }
  .question-title {
  }
  .questions {
    padding: 3rem;
  }
}
