@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*text colors*/
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /*background colors*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /*text*/
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /*dividers*/
  --light-grayish-blue: hsl(240, 5%, 91%);
}
html {
  box-sizing: initial;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    hsl(273, 75%, 66%) 10%,
    hsl(240, 73%, 65%) 90%
  );
  font-family: "Kumbh Sans", sans-serif;
}
.card-container {
  display: flex;
  max-width: 56rem;
  border-radius: 25px;
  background-color: var(--light-grayish-blue);
  margin: 250px auto;
}
.main-img {
  flex: 1;
}
.questions {
  flex: 1;
}
/*
.question-title {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
*/
@media (min-width: 56em) {
  .card-container {
    display: flex;
  }
  .main-img,
  .questions {
    flex: 1;
  }
}
